body{
    background-color:#3C3B38;
    color:#CBC6C6;
}

a:link, a:visited{
    color:white;
    text-decoration: none;
}

#container{
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
    background-color:#CBC6C6;
    color:#656363;
    border-style:solid;
    box-shadow:10px 10px 50px black;
    overflow: hidden;
}

#content{
    padding:1em;
}

.header{
    text-align: center;
    font-family:Verdana;
    font-size:large;
    letter-spacing:5px;
    background-color:#8B8484;
    color:white;
    border-style:solid;
}

.menu{
    background-color:#3A3936;
    color:#5E1A1A;
}

.bookmarklist, .ratinglist, .suggestions{
    box-shadow: 3px 1px 3px 1px inset;
    padding:1em;
    background-color:#3A3936;
    color:#8B8484;
}

#search_form{
    padding:2em;
    margin-right:auto;
    margin-left: auto;
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;
}
#search{
    background-color: white;
    box-shadow: 3px 1px 3px 1px inset;
    padding:1em;
}

.album_list{
    box-shadow:10px 10px 10px black;
    padding-top:1em;
    padding-bottom:1.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.album_list, .album_list tr{
    border:1px solid black;
    background-color: #3A3936;
    color:white;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
}

.album_list th{
    background-color: #8B8484;
}

.album_list caption{
    color:#3A3936;
}
.album_list .band_info_col{
    text-align: left;
}

.album_list a:link, #album_list a:visited{
    color:#CBC6C6;
}

/* The table that displays for the rating distribution */
.chart{
    border:none;
    margin:0px;
    font-size:small;
}

.chart tr{
    border:1px solid black;
}
.chart td{
    border:none;
    text-align: left;
}

/* The blocks that display for each review in the rating distributions chart*/
.bar{
    background-color: :#A1D46B;
    color:#89BC4B;
    width:15px;
    margin:0px;
    text-align: left;
}

.starlist {
  white-space: nowrap;
  padding-left: 0;
}

.starlist, .starlist li {
  list-style: none;
  display: inline;
}

.about{
    padding-left:5%;
    padding-right:5%;
    background-color: white;
    box-shadow: 3px 1px 3px 1px inset;
    padding:1em;
    padding-left: 5%;
    padding-right: 5%;
}


/* links */
#container a:link{
    font-weight: bold;
    color:#CBC6C6;
    text-shadow:2px 2px #550000;
}
#container a:visited{
    color:#CBC6C6;
    text-shadow:2px 2px #550000;
}
a:hover{
    letter-spacing:5px;
}
#container a:active{
}


/* Based on Lea Verou's stars as radio buttons example: 
* http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/
*/

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.user_rated{
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.user_unrated{
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}