#container{
	padding:1em;
 	margin-top:10px;
 	margin-bottom:10px;
	margin-right:auto;
	margin-left: auto;
}

table, th, td{
	border:1px solid black;
	text-align: center;
	padding:.3em;
	margin-right:auto;
	margin-left: auto;
}

.bar{
	background-color: black;
	padding:none;
	width:5px;
}

.first_row{
	text-align: left;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


